.toolbar-title-md{
    font-family: Helvetica;
    @extend .base-font-common;
    font-size:rem(25px);
    // font-weight:bold;
    letter-spacing: -2px;
    text-align: right;
}

.accordion{
    height: 100%;

    &__header{
        @extend .base-font-common;
        color: #000;
        float:right;
        margin-right: 5%;

        &--active{
            background: #e5e5c9;
            background-color: rgb(1, 121, 111);
            margin-bottom: 0 !important;
            @extend .base-font-common;
            color:black;
            font-weight: 300;
        }
    }

    &__content{
        margin-bottom: rem(12px);
        border-bottom: rem(5px) solid;

    span{
            @extend .base-font-common;
            font-weight: 300;
        }

        .button-inner{
            font-size: rem(18px);
            letter-spacing: rem(0px);
        }
    }
}


.btn-go{
    font-size:rem(25px);
    text-transform: uppercase;
    text-align: center;
    letter-spacing: -1.5px;
    font-weight: bolder;
    color: rgb(1, 121, 111);
}

