
page-productes {
    .toolbar-title-md{
        font-family: Helvetica;
        font-size: 1.8em;
        font-variant: 600;
        text-transform: uppercase;
    }
    .toolbar-background{
        // border: 2px solid #FFBFD3;
        padding-top: 15px;
        [ion-title] {
            color: pink;
        }
    }
    .accordion{
        // background: color($colors, light);
        height: 100%;

        &__header{
            font-size: 1.7em;
            text-transform: uppercase;
            background: rgba(229,229,201, 0.5);
            color: #000;

            &--active{
                background: #e5e5c9;
                margin-bottom: 0 !important;
                font-size: 2.5rem;
                text-transform: uppercase;
                font-weight: 300;
            }
        }

        &__content{
            margin-bottom: 1rem;

            span{
                font-size: 2.5rem;
                text-transform: uppercase;
                font-weight: 300;
            }
        }
    }


    .btn-go{
        font-size:1.7em;
        text-transform: uppercase;
        text-align: center;
    }
}
