
.toolbar-title-md{
    font-family: Helvetica;
    @extend %base-font-common;
    font-size:rem(25px);
    letter-spacing: -2px;
}

.accordion{
    height: 100%;

    &__header{
        @extend %base-font-common;
        color: #000;
        float:right;

        &--active{
            margin-bottom: 0 !important;
            @extend %base-font-common;
            color:black;
            font-weight: 300;
        }
    }

    &__content{
        // margin-bottom: rem(12px);
        border-bottom: rem(5px) solid;

    span{
        @extend %base-font-common;
        font-weight: 300;
        }

        .button-inner{
            font-size: rem(18px);
            letter-spacing: rem(0px);
        }
    }
}

