<ion-header>
  <ion-navbar>
    <div class="toolbar-background txt--center">
      <ion-title>Noe Shopping List</ion-title>
    </div>
  </ion-navbar>
</ion-header>
<ion-content padding *ngIf="llistatInicial">
  <div class="content-list">
    <ion-list *ngFor="let item of llistatInicial.llistat; let i = index" class="accordion">
      <ion-list-header (tap)="toggleSection(i)" [ngClass]="{'accordion__header accordion__header--active': item.open, 'accordion__header': !item.open}" class="txt--center"><span>{{item.title}}</span></ion-list-header>
      <div *ngIf="item.open" class="accordion__content">
        <ion-item-sliding #slidingItem *ngFor="let ite of item.items">
          <ion-item><span>{{ite}}</span></ion-item>
          <ion-item-options side="right">
            <button ion-button expandable (tap)="saveItem(slidingItem, ite, item.title, item.id)">
              AFEGIR
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </div>
    </ion-list>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <div class="btn-go" (tap)="done()">[ Veura llistat compra ]</div>
  </ion-toolbar>
</ion-footer>