<ion-header>
  <ion-navbar>
    <ion-title pull--left>
      <span class="item--header" *ngIf="nomLlistat">{{nomLlistat.nom}}</span>
    </ion-title>
    
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding #slidingItem *ngFor="let item of compraLlistat">
      <ion-item [ngStyle]="{'background-color':_globalHelper.getColor(item.id)}">
        <span class="item--titul pal10">{{item.titul}}</span>
        <span class="item--producta">{{item.producta}}</span>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button expandable (click)="deleteItem(slidingItem, item.producta, item.titul, item.id)">
          BORRAR
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <button ion-button color="dark" (click)="back()">productes</button>
    <button ion-button color="dark" (tap)="close()" *ngIf="active">borrar</button>
    <button ion-button color="dark" (tap)="archivar()">guardar</button>
  </ion-toolbar>
</ion-footer>