
    .item__titul{
        font-style: italic;
        margin-right: 40px;
        font-size: 1.5rem;
        font-weight: bold;
    }
    .item__producta{
        font-size: 2.5rem;
        text-transform: uppercase;
        font-weight: 300;
    }

    .titul-compra{
        font-size:1.8em;
        text-transform: uppercase;
        font-style: italic;
    }


