
.item {

        &--header{
            @extend .base-font-common;
            font-style: italic;
        }
        
        &--titul{
            font-style: italic;
            margin-right: 40px;
            font-size: 1.5rem;
            font-weight: bold;
        }

        &--producta{
            @extend .base-font-common;
            font-weight: 300;
        }
    }
.llistat__spinner{
    .loading-wrapper{
        transform: scale(1.2) !important;
        width: 100%;

        .loading-content{
            color: black;
            text-transform: uppercase;
        }
    }
}

