<ion-header>
  <ion-navbar>
    <ion-title pull--left>
      <span *ngIf="nomLlistat">Hola {{nomLlistat.nom}}</span>
    </ion-title>
    
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding #slidingItem *ngFor="let item of compraLlistat">
      <ion-item [ngStyle]="{'background-color':_globalHelper.getColor(item.id)}" (click)="blankProduct($event)">
        <span class="item__titul">{{item.titul}}</span>
        <span class="item__producta">{{item.producta}}</span>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button expandable (click)="deleteItem(slidingItem, item.producta, item.titul, item.id)">
          BORRAR
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <button ion-button (click)="back()">Torna a productes</button>
    <button pull--right ion-button color="dark" (tap)="close()" *ngIf="active">borrar</button>
    <button pull--right ion-button color="secondary" (tap)="archivar()">guardar</button>
  </ion-toolbar>
</ion-footer>