// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
// 1. Margin helpers
// --------------------------------------------------
// Margin Top, right, left y bottom. Van del 5 al 100px.
// mrt --> margin-top
// mrr --> margin-right
// mrb --> margin-bottom
// mrl --> margin-left
// --------------------------------------------------
@include generate-dynamic-classes(mrt, margin-top, 40, 5);
@include generate-dynamic-classes(mrl, margin-left, 40, 5);
@include generate-dynamic-classes(mrb, margin-bottom, 40, 5);
@include generate-dynamic-classes(mrr, margin-right, 40, 5);
// 2. Padding helpers
// --------------------------------------------------
// Padding Top, right, left y bottom. Van del 5 al 100px.
// pat --> padding-top
// par --> padding-right
// pab --> padding-bottom
// pal --> padding-left
// --------------------------------------------------
@include generate-dynamic-classes(pat, padding-top, 40, 5);
@include generate-dynamic-classes(pal, padding-left, 40, 5);
@include generate-dynamic-classes(pab, padding-bottom, 40, 5);
@include generate-dynamic-classes(par, padding-right, 40, 5);
// 3. Padding box
// --------------------------------------------------
// Padding box es útil para dar padding a cajas de manera
// homogenea.
@include generate-dynamic-classes(padding--, padding, 10, 5);



.toolbar-title-md{
  color: white;
}

  .toolbar-background-md{
    background-color: black;
    color: white !important;
    .footer &{
      background-color: white;
      color: black;
    }
    
  }

.toolbar-md{
  min-height: rem(29px);
}
ion-app.md [padding] .scroll-content{
    padding: 0;
}

%base-font-common{
  font-size:rem(30px);
  text-transform: uppercase;
  letter-spacing: -2px;
}

.item-md{
    padding-left: 0 !important;
}

[align-center],
.align-center,
[txt--center],
.txt--center {
  text-align: center;
}

[pull--right],
.pull--right {
  float: right;
}

[pull--left],
.pull--left {
  float: left;
}

[txt--left],
.txt--left {
  text-align: left;
}

[txt--right],
.txt--right {
  text-align: right;
}


.label {
  margin: 0px;
}

.list {
  margin-bottom: rem(4px);
}